@font-face {
	font-family: "Cartesian";
	src: url("/fonts/Cartesian-4B576.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	background: #f1d29c;
	margin: 0;

	/* font-family: Arial, sans-serif; */
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	gap: 50px;
	padding-left: 10px;
	font-family: Cartesian;
	justify-content: space-between;

	overflow: scroll;
	width: 100%;
	overflow-x: hidden;
}
html {
	font-family: Cartesian;
}
/* Style the header */
header {
	/* display: flex; */
	/* width: 1120px;
	height: 35px; */
	/* flex-direction: column; */
	/* padding: 10px 0px 2px 0px; */
	justify-content: center;
	align-items: flex-end;
	/* gap: 667.635px; */
	flex-shrink: 0;
}

footer {
	width: 1120px;
	height: 20px;
	flex-shrink: 0;
}

/* Style the logo */
.logo {
	position: fixed;
	top: 10%;
	left: 1%;
	display: flex;
	align-items: end;
	/* justify-content: space-between;
	width: 90%; */
}
.logo > .header {
	margin-left: 60%;
	font-size: 32px;
	align-self: flex-end;
	margin-bottom: 0%;
}
.logo_img {
	width: 150px;
	max-width: 100%;
}
.logo .logo-text {
	margin: 0;
	padding: 0;
	font-weight: bold;
	size: 20vh;
	font-size: 24px;
}

/* Style the navigation bar */

.nav_cover {
	min-width: 150px;
	/* width: 40vw; */
}

nav {
	display: flex;
	/* flex-direction: column; */
	height: 80vh;
	/* border-right: #642800 30px solid;
	border-radius: 0 40px 40px 20px; */
	align-items: end;
	justify-content: end;
	position: fixed;
	/* top: 0;
	bottom: 10%; */
}

.nav_border {
	margin-top: -20px;
	height: 90vh;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 4vh;
	margin-bottom: 8vh;
}

nav ul li {
	margin-left: 20px;
}
/* .drawer-content ul li a.active::after, */
nav ul li a.active::after {
	content: "";
	display: block;
	width: 150%;
	height: 10px;
	border-radius: 12px;
	background-color: #622c00;
}
/* .drawer-content ul li a.active, */
nav ul li a.active {
	color: #622c00;
	display: inline-block;
	width: 80%;
}
nav ul li a {
	padding: 0 15px;
	/* color: black; */
	color: #b2a388;
	text-decoration: none;
	border-radius: 5px;
	font-size: 24px;
}

nav ul li a:active {
	color: #000;
}

nav ul li a:hover {
	/* background-color: #333;
	color: white; */
}

main {
	background: hsl(38, 75%, 78%);
	/* padding: 10px 10vw; */

	padding-left: 1vw;
	display: flex;
	flex-direction: column;
	/*justify-content: center; /* Align content horizontally to the center */
	align-items: center; /* Align content vertically to the center */
	/* height: calc(
		100vh - 80px
	);  */
	/* Set height to fill the remaining viewport height minus header height */
	padding: 24px;
	width: 100%;
	min-height: 100vh;
	height: 100%;

	overflow-y: scroll;
}

.home_pg {
	justify-content: space-between;
	/* max-height: 100vh; */
	padding: 50px 45px;

	height: 110%;
	/* overflow-y: scroll; */
}

.header {
	font-size: 32px;
	margin: 0 5% 5% 5%;
	color: #622c00;
	/* width: 80%; */
}

.content {
	display: flex;
	/* max-width: 1200px;  */
	/* SSet a maximum width for the content */
	width: 100%;
	padding: 10px;
	flex-direction: row;
	/*border: 1px solid #985757;*/
}
.content .log_img {
	width: 60%;
}
.arrow {
	margin-right: 10px;
}

.arrow-box {
	position: relative;
	width: 20px;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #333; /* Change color as needed */
	position: absolute;
	top: 40px; /* Adjust to position the arrow below the line */
	left: 0;
}

.arrow-line {
	width: 2px;
	height: 40px; /* Adjust the length of the stick */
	background-color: #333; /* Change color as needed */
	position: absolute;
	top: 15px; /* Position it below the arrow */
	left: 9px; /* Position it aligned with the arrow */
}
.left-box {
	/* flex: 1; */
	padding: 20px;
	/* padding-right: 20; */
	width: fit-content;
	/* max-width: 30%; */
}

.right-box {
	/* flex: 1; */
	padding: 20px;
	padding-bottom: 50px;
}
.right-box img {
	width: 90%;
}

.bold-text {
	font-weight: bold;
	font-size: 24px;
}
.container {
	width: 100%;
	display: flex;
	max-width: 1200px;
	margin: 20px auto;
	/* border: 1px solid #ccc; */
	margin-top: 40px; /* Set margin-top to create space below content */
}

.wrapper {
	margin-top: 40px;
	/* max-width: 1200px; */
	/* flex: 1; */
	align-items: flex-start;
	width: 90vw;
	display: flex;
}
.line {
	width: 1120px;
	height: 2px;
	flex-shrink: 0;
	fill: #000;
}
/* Style the left side content */
.content-left {
	flex: 1;
	padding: 20px;
}

/* Style the image on the right side */
.content-right {
	flex: 1;
	padding: 20px; /* Center the image horizontally */
}

.image-right img {
	max-width: 100%;
	height: auto;
	display: block; /* Remove default image spacing */
}
.underlinedText {
	color: var(--Main-Black, #181717);
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 121.5%; /* 21.87px */
	letter-spacing: -0.54px;
	text-decoration-line: underline;
}

#preloader {
	background: #f1d29c url(images/loader.gif) no-repeat center;
	background-size: 100%;
	min-height: 100vh;
	width: 100%;
	position: absolute;
	object-fit: fill;
}
.blueText {
	color: var(--Secondary, #2429af);
	/* Navigation */
	font-family: DM Sans;
	font-size: 21px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 25.2px */
	letter-spacing: -0.63px;
}

.grid {
	align-items: flex-start;
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); Creates 5 columns */
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 20px;
	/* padding: 4vh 8vw; */
	/* height: 100vh; */
	width: 90%;
	/* margin: 30px; */
}

/* Individual grid item styles */
.item {
	width: 100%;
	/* height: 200px; */
	height: 100%;
	/* background-color: #f0f0f0; */
	display: flex;
	/* justify-content: center;
  align-items: center; */
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

img.item {
	width: 100%;
	object-fit: fill;
}

/* Glow effect and size increase on hover */
.item:hover {
	transform: scale(1.01); /* Slightly increases size */
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5); /* Adds glow effect */
}

.nav_border_mobile {
	display: none;
}

.carousel {
	margin: 0 auto;
	overflow: hidden;
	width: 70%;
	max-width: 400px;
	padding: 2vw;
	height: max-content;
}
/* Keyframes for fade-in and fade-out */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* Apply animation to images */
.carousel img {
	/* position: absolute; */
	width: 100%;
	height: auto;
	opacity: 1;
	animation-fill-mode: forwards; /* Retains the last keyframe state */
}

/* Animation duration and easing */
.carousel img.active {
	animation-duration: 2s; /* Duration for both fade-in and fade-out */
	animation-timing-function: ease-in-out;
}

/* Apply different animations for appearing and disappearing */
.carousel img.active.fade-in {
	animation-name: fadeIn;
}

.carousel img.fade-out {
	animation-name: fadeOut;
}

.image-gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 60vw;
}

.main-image {
	display: flex;
	justify-content: center;
}

.main-image img {
	max-width: 50vw;
	/* width: auto; */
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

.thumbnail-images {
	display: flex;
	width: 100%;
}

.thumbnail-images img {
	width: 200px; /* Adjust the width of the thumbnails */
	height: auto;
	margin-right: 5px;
	cursor: pointer;
}
.drawer-toggle {
	display: none;
}
.drawer,
.drawer-label {
	display: none;
}

/* Media query for responsiveness */
@media (max-width: 900px) {
	.carousel {
		min-height: 320px;
	}
	.thumbnail-images img {
		max-width: 30vw;
	}
	nav ul li a.active {
		min-width: 30vw;
		width: 80%;
	}
	nav > .nav_links {
		display: none;
	}
	.drawer {
		display: block;
	}

	.drawer-label {
		font-size: 28px;
		cursor: pointer;
		position: fixed;
		top: 2.5%;
		right: 4.5%;
		display: block;
		/* background: rgba(208, 114, 37, 0.05); */
	}
	.drawer-label.close {
		display: none;
	}
	.drawer-toggle:checked + .drawer-label + .drawer {
		width: 45vw;
		min-width: 300px;
		right: 0;
		/* transition: left 0.5s; */
	}
	.drawer-toggle:not(:checked) + .drawer-label + .drawer {
		transition: right 0.5s;
		right: -45vw;
	}

	.drawer > * {
		z-index: 10;
	}
	.drawer-toggle + .drawer-label.close {
		display: block !important;
		z-index: 100;
	}

	.drawer {
		width: 0;
		height: 100%;
		position: fixed;
		top: 0;
		right: -45vw;
		overflow-x: hidden;
		/* transition: 0.3s; */
		transition: right 0.5s;

		z-index: 100;
		overflow: hidden;
	}

	.drawer-content {
		/* width: 250px; */
		height: 100%;
		background-color: #f2f2f2;
		padding-top: 60px;
		position: relative;
		/* z-index: 10; */
		padding-top: 30%;
		align-items: center;
		padding-left: 5%;
	}

	.drawer-content ul {
		justify-content: space-around;
		/* height: 20%; */
		width: 100%;
	}

	.home_pg {
		justify-content: space-evenly;
		padding: 0;
	}

	.hero-title,
	.hero-subtitle {
		font-size: 32px;
		margin: 0.5vh;
		/* color: #444; */
	}
	.desc_subheader {
		font-size: 25px;
		margin: 1.5vh;
	}

	.desc {
		margin: 0.4vh;
		font-size: 18px;
	}
	.header {
		font-size: 24px;
	}

	.main-image img {
		max-width: 95vw;
	}
	.nav_border_mobile {
		display: block;
		height: 10px;
		position: absolute;
		margin-top: -4%;
		/* left: 16%; */
		/* left: -5%; */
		/* width: 100%; */
		overflow: hidden;
		/* rotate: 30deg; */
		height: 100%;
		position: relative;
		width: 14px;
		left: 50%;
		top: -30%;
	}
	.nav_border_mobile img {
		object-fit: fill;
	}

	.nav_links {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		width: 100%;
	}
	/* nav ul li a.active::after {
		content: "";
		display: block;
		height: 180%;
		width: 5px;
		border-radius: 12px;
		background-color: #622c00;
		
		position: relative;
		z-index: 5;
		top: -100%;
		right: -2%;
	} */
	/* margin-top: -40%;
		margin-left: 5%; */
	main {
		padding: 24px 0;
		width: 90%;
	}
	.logo {
		top: 50%;
		left: -10%;
		width: 80px;
		position: static;
		margin-bottom: 0 !important;
	}
	.logo_img {
		max-width: unset;
		width: 80px;
	}
	.grid {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		/* width: 100%; */
	}
	.nav_border,
	.nav_cover {
		display: none;
	}
	body {
		flex-direction: column;
		gap: 20px;
		padding-left: 0;
		padding: 20px;
		justify-content: center;
		/* align-items: center; */
		/* display: flex; */
	}
	nav {
		position: static;
		height: fit-content;
		justify-content: space-between;
		align-items: start;
		width: 100%;
		gap: 2vw;
	}
	nav ul {
		/* flex-direction: row; */
		margin-bottom: 0%;
		gap: 0;
		justify-content: space-evenly;
	}
	/* nav ul li::after {
		content: "";
		display: block;
		width: 150%;
		height: 10px;
		border-radius: 12px;
		background-color: #622c00;
	} */
	nav ul li a {
		/* font-size: 16px; */
	}
	header {
		background: #f1d29c;

		flex-direction: column; /* Stack elements vertically */
		align-items: flex-start; /* Align elements to the start */
		padding: 20px; /* Increase padding for better spacing */
	}

	.logo {
		margin-bottom: 20px; /* Add space below the logo */
	}

	nav ul {
		/* flex-direction: column;  */
		/* Stack navigation vertically */
	}

	nav ul li {
		margin-left: 0; /* Remove left margin for navigation items */
		margin-bottom: 10px; /* Add space between navigation items */
		width: fit-content;
	}
	.content {
		display: flex;
		flex-direction: column;
	}
	.left-box,
	.right-box {
		flex: 1;
		padding: 20px;
	}
}
