body {
    background-color: #f1d29c;
    width: 100%;
    font-family: Cartesian;
    color: #622c00;
    font-weight: bold;
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
}

/* .navbar a:hover, */
.navbar a.active {
    color: #622c00;
    border-bottom-width: 8px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
#menu-icon{
    display: none;
}  

.logo{
    position: relative;
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
    animation: fadeIn 5s;
    animation: flyIn 1s ease-out;
}


.logo-hide{
    opacity: 0;
}

.hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.3s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Define the fly-in animation */
@keyframes flyIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Apply the animation to an element */
.fly-in-element {
    animation: flyIn 0.3s ease-out;
    opacity: 1;
    filter: blur(0);
    /* Adjust the duration and easing as needed */
}

/* Define the fly-in animation */
@keyframes flyOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

/* Apply the animation to an element */
.fly-out-element {
    animation: flyOut 0.3s ease-out;
    opacity: 0;
    filter: blur(5px);
    /* Adjust the duration and easing as needed */
}

.fullw{
    width: 26rem;
}